.container{
    width: 100%;
    height:100vh ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column  ;
    gap: 50px;
}

.boshlanish{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
nav input{
    width: 285px;
    height:48px ;
    border-radius:71px ;
    border: 1px;

}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: black;

}
nav ul li a{
    text-decoration: none;
    color: black;
}
.chap{
    width: 50%;
    height: 100%;
}
.clantro{
    width: 1110px;
    height: 455px;
    background-color: #EAF1EB;
    border-radius : 24px;
    display: flex;
 
  gap: 300px;

}
.tugma1{
    width: 153px;
    height: 51px;
    background-color: #359740;
    border-radius: 8px;
    color: white;
    border: none;
}
.tugma2{
    width: 131px;
    height: 51px;
    background-color: white;
    border-radius: 8px;
    color:  #359740;
    border: none;   
}
.soz{
    display: flex;
    gap: 20px;
    align-items: center;
}
.chap h1{
    font-size:40px;
}
.chap p{
    font-size: 16px;

}
.soz h1{
    font-size:42px ;

}
.soz h2{
    font-size: 22px;
    color: gray;
}
.sell{
    width: 1110px;
    height: 104px;
    background-color: #FFE62E17;
    text-align: center;
    border-radius: 12px;
   
}
.tugmalar div{
    width: 110px;
    height: 72px;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    background-color: transparent;
}
.tugmalar{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.ns{
    display: flex;
    gap: 700px;
}
.ns button{
    width: 155px;
    height: 51px;
    border: 1px solid #EFEFEF;
    background-color: transparent;
    color: green;
    border-radius: 8px;
}
.modes{
   
    width: 350px;
    height: 512px;
    border: 2px solid#EFEFEF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}
.yldz{
    display: flex;

    align-items: center;
    gap: 2px;
}
.modess p{
    font-size: 16px;
    color: black;
}
.krz{
    display: flex;
    justify-content: space-between;
}
.krz p{
    font-size: 28px;
    color: black;
}
.krz div{
    width: 48px;
    height: 48px;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardlar{
    display: flex;
    gap: 30px;
}
.yldz p{
    color: gray;
}
.page1{
    display: flex;
    gap: 30px;
}


